:root {
  --background: hsl(0, 0%, 95%);
  --button: hsl(0, 0%, 95%);
  --heading: hsl(0, 0%, 95%);
  --luxury: hsl(179, 100%, 13%);
  --para: hsla(0, 0%, 100%, .75);
  --sedan: hsl(31, 77%, 52%);
  --suv: hsl(184, 100%, 22%);
  font-size: 15px;
}

body {
  background-color: var(--background);
}

.card {
  display: flex;
  margin: 10rem auto;
  width: 66rem;
}

.model {
  padding: 4rem;
  width: 22rem;
}

h1 {
  color: var(--heading);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 3rem;
  padding: 2rem 0;
  text-transform: uppercase;
}

p {
  color: var(--para);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  padding: 2rem 0;
}

.sedan {
  background-color: var(--sedan);
  border-top-left-radius: .5rem;
}

.suv {
  background-color: var(--suv);
}

.luxury {
  background-color: var(--luxury);
}

button {
  background-color: var(--button);
  border-radius: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  padding: 1.5rem;
}
